flask
gunicorn
python-dotenv
pyjwt
supabase
streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
chromadb
sentence-transformers
unstructured[pdf]
python-dotenv
rank-bm25
