flask
gunicorn
python-dotenv
pyjwt
supabase
streamlit
langchain-core==0.2.39
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-ollama==0.1.1
chromadb
sentence-transformers
unstructured[pdf]
python-dotenv
rank-bm25
